@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
/* Style for card-2 (your flexbox example) */
.card-2 .card-front{
  background-color: rgb(195, 112, 218);
  border-style: groove;
  border-width: 5px;
  border-color: gold;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.card-2 .card-back{
background-color: rgb(195, 112, 218);
  border-style: groove;
  border-width: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.emoji {
  font-size: 50px;
}

.card-2 h1 {
  color: gold;
  font-family: "Mystery Quest";
  margin: 0;
  font-size: 32px;
}

.card-2 p {
  font-family: 'Zain';
  font-size: 20px;
  color: #90fffd
}

.card-front {
  font-family: "Zain";
  font-size: 20px;
  color: #90fffd
}