.card-1 h1 {
  /* Style for card 1 (your box model example */
  color: palevioletred;
  text-align: center;

}
.center-with-line{
  display: inline-block;
  border-bottom: 1px solid; 

}
.card-1 {
    border-style: dotted;
    border-width: 5px;
    background-color: lightcyan;
}
.card-1 p {
  text-align: center;
}