.card-1 h1 {
  /* Style for card 1 (your box model example */
  color: rgb(0, 0, 0);
  /*margin-left: 1in;*/
  border-bottom: 1px solid;
}
main {
    border-style: dotted;
    border-width: 5px;
    background-color: lightcyan;

}
